<div class="popup_close_button glyphicon glyphicon-remove"/>
<div class="popup_header">Add new project</div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-4 control-label">PROJECT NAME:</label>
      <div class="col-sm-7">
        <input class="form-control" id="project_name" type="text" >
        <span class="help-block first_name_error_message"></span>
      </div>
    </div>
  </form>
</div>

<div class="bbm-modal__bottombar">
  <div class="delete_popup_buttons">
     <button type="button" class="btn btn-success submit_new_project">Submit <span class="glyphicon glyphicon-send"/></button>
      <button type="button" class="btn btn-danger cancel_new_project">Cancel  <span class="glyphicon glyphicon-remove"/></button>
  </div>
</div>
